.main-section {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.main-container {
  width: 1440px;
  max-width: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 40px 20px;
}

.main-title {
  font-weight: 600;
  font-size: 36px;
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
}

.main-description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-bottom: 40px;
}
/* .contact-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.label {
  font-weight: bold;
  min-width: 80px;
}

.value {
  font-weight: normal;
}


.map-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-box {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.contact-box {
  flex: 1 1 500px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-info p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.map-box {
  flex: 1 1 500px;
  max-width: 680px;
  height: 374px;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
}






.bottom-box {
  width: 817px;
  max-width: 100%;
  height: auto;
  border: 1px solid #000;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
}

.bottom-box h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
}

.bottom-box p {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.read-more {
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
